* {
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/fundos.jpg");
    background-size: 210vh, 200vh;
    background-repeat: no-repeat;
    font-size: 1em;
    line-height: 1.5em;
}

.container {
    position: absolute;
    top: 15vh;
    left: 35%;
    width: 35%;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 0 30px 60px 30px;
    height: 60vh;
    border-radius: 10px;
}

.container .peso input {
    position:relative;
    top: 4vh;
    padding: 0.5vh;
    width:100%;
}

.container .altura input {
    position:relative;
    top: 6vh;
    padding: 0.5vh;
    width:100%;
}

.container button {
    position:relative;
    top: 8vh;
    padding: 0.5vh;
    width:100%;
}

.container p {
    position:relative;
    top: 10vh;
}


#logo {
    display: block;
    margin: 0px auto;
}

#header {
    clear: both;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

#coluna1{
    float: left;
    width: 110px;
    padding: 10px;
}

#coluna2{
    float: left;
    width: 110px;
    padding: 10px;
}

#coluna3{
    float: left;
    width: 110px;
    padding: 10px;
}

#footer {
    clear: both;
    width: 100%;
    text-align: center;
}

